@keyframes scroll {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: -1200px;
    }
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
}

.gameContainer {
    width: 800px;
    height: 600px;
    position: relative;
}

.layer {
    min-width: 500px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: repeat-x;
    /*  background-size: cover;*/
}

.layer10 {
    background-image: url('img/backgrounds/sky_01.png');
    /*animation: scroll 20s infinite linear;*/
}

.layer9 {
    background-image: url('img/backgrounds/building_01.png');
    animation: scroll 20s infinite linear;
    position: absolute;
    top: 0.7rem;
}

.layer8 {
    background-image: url('img/backgrounds/pavement_01.png');
    animation: scroll 15s infinite linear;
    position: absolute;
    top: 20.5rem;
}

.layer7 {
    background-image: url('img/backgrounds/ruins_01.png');
    animation: scroll 10s infinite linear;
    position: absolute;
    top: 16rem;
}

.layer6 {
    background-image: url('img/backgrounds/building_02.png');
    animation: scroll 5s infinite linear;
    position: absolute;
    top: 3rem;
}

.layer5 {
    background-image: url('img/backgrounds/carhumo.png');
    animation: scroll 5s infinite linear;
    position: absolute;
    opacity: 0.7;
}

.layer3 {
    background-image: url('img/backgrounds/fire_01\ \(1\).png');
    animation: scroll 5s infinite linear;
    top: 3rem;
}

.layer1 {
    background-image: url('img/backgrounds/road_01.png');
    animation: scroll 2s infinite linear;
    position: absolute;
    top: 22rem;
}

.characterCont {
    width: 100%;
    position: absolute;
    top: 14.5rem;
}

.character {
    width: 112px;
    height: 156px;
    background: url('img/characters/Bern.png')left center;
    animation: walk 1s steps(6) infinite;
    margin-left: 200px;
}

@keyframes walk {
    0% {
        background-position: 0px;
    }
    100% {
        background-position: -672px;
    }
}