@keyframes scroll {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: -1200px;
    }
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
}

.gameContainer {
    width: 800px;
    height: 600px;
    position: relative;
    top: 50px;
}

.layer {
    min-width: 500px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: repeat-x;
}

.layer back {
    max-width: 10px;
    max-height: 6px;
}

.layer10 {
    background-image: url('img/backgrounds/sky_01.png');
    /*animation: scroll 20s infinite linear;*/
}

.layer9 {
    background-image: url('img/backgrounds/building_01.png');
    animation: scroll 20s infinite linear;
    position: absolute;
    top: 10.7rem;
    height: 389px;
}

.layer8 {
    background-image: url('img/backgrounds/pavement_01.png');
    animation: scroll 15s infinite linear;
    position: absolute;
    top: 32.5rem;
    height: 35px;
}

.layer7 {
    background-image: url('img/backgrounds/ruins_01.png');
    animation: scroll 10s infinite linear;
    position: absolute;
    top: 29rem;
    height: 95px;
}

.layer6 {
    background-image: url('img/backgrounds/building_02.png');
    animation: scroll 5s infinite linear;
    position: absolute;
    top: 16rem;
    height: 308px;
}

.layer5 {
    background-image: url('img/backgrounds/carhumo.png');
    animation: scroll 5s infinite linear;
    position: absolute;
    opacity: 0.7;
    height: 400px;
}

.layer3 {
    background-image: url('img/backgrounds/fire_01\ \(1\).png');
    animation: scroll 5s infinite linear;
    top: 15rem;
    height: 314px;
}

.layer1 {
    background-image: url('img/backgrounds/road_01.png');
    animation: scroll 3s infinite linear;
    position: absolute;
    top: 34rem;
    height: 57px;
}

.characterCont {
    width: 100%;
}

.character_init {
    width: 72px;
    height: 100px;
    margin-left: 200px;
    position: absolute;
    top: 30rem;
}

.caminando {
    background: url('img/characters/walk-cody-2.png')left center;
    animation: walk 1s steps(12) infinite;
}

.saltando {
    background: url('img/characters/jump-cody.png')left center;
    animation: jump 0.8s steps(8) infinite;
    width: 88px;
    height: 126px;
}

.deslizando {
    background: url('img/characters/cody-slide.png')left center;
    animation: down 0.65s steps(5) infinite;
    width: 95px;
    height: 126px;
}

@keyframes walk {
    0% {
        background-position: 0px;
    }
    100% {
        background-position: -896px;
    }
}

@keyframes down {
    0% {
        background-position: 0px;
    }
    100% {
        background-position: -540px;
    }
}

@keyframes jump {
    0% {
        background-position: 0px;
    }
    100% {
        background-position: -761px;
    }
    0% {
        top: 26rem;
    }
    50% {
        top: 22rem;
    }
    100% {
        top: 28rem;
    }
}

.jump {
    width: 112px;
    height: 156px;
    background: url('img/characters/tiraprueba-removebg-preview.png')left center;
    margin-left: 200px;
    transform: translateY(-150px);
}