.juego {
    width: 100%;
    display: flex;
    justify-content: center;
}

canvas {
    display: block;
    margin: 0 auto;
}

.gameInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#theWinnerIs {
    margin: 1rem auto;
}

.exit {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.exit a {
    text-decoration: none;
}

.visible {
    display: block;
}

.invisible {
    display: none;
}