<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Puro Vicio</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

    <link rel="shortcut icon" href="assets/images/logo-gamer 1.png" type="image/x-icon">
    <script src="assets/js/main.js"></script>
    <script src="assets/js/search.js"></script>
    <link rel="stylesheet" href="assets/css/search.css">

</head>
<body>
       <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"><img src="assets/images/logo-gamer 2.png" alt=""></span>
            <div class="dots">
                <span><img src="assets/images/logo-gamer 2.png" alt=""></span>
                <span><img src="assets/images/logo-gamer 2.png" alt=""></span>
                <span><img src="assets/images/logo-gamer 2.png" alt=""></span>
            </div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <header class="header">
        <div class="hamburguesa">
            <img src="assets/images/hamburguesa.png" alt="">
        </div>
        <div class="logo">
            <a href="index.html"><img src="assets/images/logo-gamer 1.png" alt=""></a>
        </div>
        <div class="user">
            <div id="logIcon">
                <a href="registerForm.html"> <img src="assets/images/contacto.png" alt=""></a>
            </div>
            <div id="logged" class="inactiveCont">
                <a href="#"> <img src="assets/images/Ellipse 19.png" alt=""></a>
                <a href="#"> <img src="assets/images/chevron.png" alt=""></a>
            </div>
        </div>
    </header>
    <nav class="menu">
        <div class="header-menu">
            <div class="logo">
                <img src="assets/images/logo-gamer 1.png" alt="">
            </div>
            <div class="cerrar_menu">
                <img src="assets/images/close.png" alt="">
            </div>
        </div>
        <div class="subtitulo_menu">
            <h3>Categorías</h3>
        </div>
        <ul class="botones_menu">
            <li><a href="all.html">Todos los juegos </a><img class="chevron" src="assets/images/chevron.png" alt=""></li>
            <li><a href="category.html">Multijugador </a><img class="chevron" src="assets/images/chevron.png" alt=""></li>
            <li><a href="category.html">Acción </a><img class="chevron" src="assets/images/chevron.png" alt=""></li>
            <li><a href="category.html">Aventuras </a><img class="chevron" src="assets/images/chevron.png" alt=""></li>
            <li><a href="category.html">Carreras</a> <img class="chevron" src="assets/images/chevron.png" alt=""></li>
            <li><a href="category.html">Clásicos</a> <img class="chevron" src="assets/images/chevron.png" alt=""></li>
            <li><a href="category.html">Infantiles </a><img class="chevron" src="assets/images/chevron.png" alt=""></li>
        </ul>
    </nav>
    <aside class="modal">

    </aside>
    <main id="games">
        <h2 v-if="resEncontrado>1" class="found">Se han encontrado {{resEncontrado}} resultados para: {{valorBuscado}}</h2>
        <h2 v-if="resEncontrado==1" class="found">Se ha encontrado un resultado para: {{valorBuscado}}</h2>
        <h2 v-if="resEncontrado<1" class="not-found">No se han encontrado resultados para: {{valorBuscado}}</h2>
        <div v-if="listGames.length>0" class="resultados">
                <h3>Listado de juegos</h3>
                <div id="juegos">
                    <div v-for="item in listGames" class="game_search">
                        <a :href="'game.html?id='+item.id">
                        <img :src="item.img" alt="">
                        </a>
                        <figcaption>
                            <p>{{item.name}}</p>
                        </figcaption>
                    </div>
                </div>
        </div>
        <div v-else class="resultados">
            <h3>No te desanimes, ¡proba con alguno de nuestros juegos recomendados!</h3>
            <div id="juegos">
                <div v-for="item in allGames" class="game_search">
                    <img :src="item.img" alt="">
                    <figcaption>
                        <p>{{item.name}}</p>
                    </figcaption>
                </div>
            </div>
        </div>
    </main>
</body>
</html>