    html,
    body {
        height: 100%;
        background-color: #C2C4D2;
    }
    
    .playerInfo {
        position: relative;
        top: 4.5rem;
        background-image: url("../images/background.png");
        background-color: transparent;
        background-size: cover;
        height: 30rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .playerName {
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
        top: 3rem;
        margin: 0;
    }
    
    .playerName h2 {
        font-size: 3rem;
        margin: 0%;
    }
    
    .playerLevel {
        position: relative;
        top: 4.5rem;
        display: flex;
        justify-content: left;
    }
    
    .playerLevel h4 {
        font-size: 1.5rem;
        margin: 0;
    }
    
    .playerLevel img {
        width: 40px;
    }
    
    .playerLetter {
        position: relative;
        top: 20rem;
        width: 100%;
        display: flex;
        justify-content: left;
        align-items: center;
        margin-left: 1rem;
    }
    
    #inicial {
        width: 70px;
        height: 70px;
    }
    
    #share {
        width: 30px;
        height: 30px;
        margin-left: 0.5rem;
    }
    
    .progress {
        position: relative;
        top: 4.5rem;
        margin-left: 1rem;
    }
    
    .progress h3 {
        color: #3D3E61;
        font-size: 1.5rem;
    }
    
    .level {
        position: relative;
        top: 2.5rem;
        display: flex;
        justify-content: space-between;
        width: 88%;
        padding: 0rem 1.2rem;
    }
    
    #progressbar {
        margin: auto;
        width: 60%;
        /*  position: relative;
        top: 1rem;*/
        background-color: white;
    }
    
    #progressbar>div {
        background-color: #A3C540;
        width: 40%;
        height: 20px;
    }
    
    .contFavs {
        position: relative;
        top: 4.5rem;
        background-color: #F7F4E3;
    }
    
    .favGames {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .favGames img {
        width: 5rem;
        height: 5rem;
    }
    
    .footer {
        position: relative;
        bottom: 0;
    }
    
    figcaption p {
        margin-top: 0;
    }
    
    h3 {
        font-size: 2rem;
    }