html {
    height: 100%;
    background-color: #C2C4D2;
}

.catSearch {
    background-color: #C2C4D2;
    position: relative;
    display: flex;
    align-items: center;
    top: 4.5rem;
    padding: 1rem;
    justify-content: center;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.juegos_titulo h1 {
    font-size: 1.25rem;
}

.catTitle {
    font-size: 1.5rem;
}

.catName {
    width: 55%;
    display: flex;
    justify-content: left;
    padding: 0.5rem;
}

#buscaCat {
    width: 45%;
    padding-right: 0.5rem;
}

#buscaCat input,
#buscaCat img {
    height: 50%;
}

#buscaCat input {
    width: 9rem;
}

.destacados {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    background-color: white;
    position: relative;
    top: 4.5rem;
}

.juegos_destacados {
    display: flex;
    justify-content: center;
}

.contenedor_destacado {
    width: 30%;
}

.contenedor_destacado img {
    max-width: 6.25rem;
    max-height: 6.25rem;
}

.contenedor_resto {
    width: 30%;
    margin: auto;
}

.contenedor_resto img {
    max-width: 5rem;
    max-height: 5rem;
    margin: 0.5rem;
    border-radius: 4px;
}

img {
    border-radius: 4px;
}

.resto_juegos {
    position: relative;
    top: 4.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #C2C4D2;
}

.lupita {
    animation: ease-in-out;
    animation-name: lupita_;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

@keyframes lupita_ {
    0% {
        position: static;
        z-index: 0;
        opacity: 0;
    }
    25% {
        position: fixed;
        top: 4.5vh;
        left: 25vw;
        right: 25vw;
        z-index: 23;
    }
    50% {
        top: 3.5vh;
    }
    100% {
        position: fixed;
        top: 2.5vh;
        left: 25vw;
        right: 25vw;
        opacity: 1;
        z-index: 23;
    }
}