.game_img {
    width: 100px;
    border-radius: 4px;
    margin-right: 0.5em;
}

.share {
    width: 40px;
    height: 40px;
}

.encabezado_juego_seleccionado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.titulo_juego_img {
    display: flex;
    margin-top: 10px;
}

.titulo_juego_img h2 {
    margin-top: 18px;
    margin-bottom: 4px;
}

.contenedor_carrousel {
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    background-color: #F7F4E3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1.5rem;
}

.button_play {
    background-color: #D4832A;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #17171A;
    margin-top: 1.5rem;
    text-decoration: none;
    width: 95%;
    height: 2.5rem;
    border-radius: 21rem;
    border-bottom: solid #32335E;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.descripcion_juego {
    padding-left: 1rem;
    padding-right: 1rem;
}

.como_jugar {
    display: flex;
    align-items: center;
}

.info {
    width: 28px;
    height: 28px;
    padding-right: 0.4rem;
}

.similares {
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #F7F4E3;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.similar_game img {
    width: 70px;
    border-radius: 4px;
}

figcaption p {
    white-space: break-spaces;
}

.similar_game {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80px;
    padding: 4px;
}

#games {
    display: flex;
    flex-wrap: wrap;
}

.swiper {
    width: 80%;
    position: absolute !important;
    top: 248px;
    height: 300px;
    left: 9vw;
}

.swiper-slide {
    width: 100%;
}

.contenedor_carrousel div {
    height: 300px;
}

.como_jugar a {
    color: black;
}

.how_to_play {
    background-color: #F7F4E3;
    height: 300px;
    margin-top: 1rem;
}

.how_to_play {}