@keyframes scroll {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: -1200px;
    }
}

.cont_contJuego {
    display: flex;
    justify-content: center;
}

.gameMenu {
    background-color: black;
    color: white;
}

.gameContainer {
    width: 800px;
    height: 600px;
    position: relative;
    align-items: center;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
    top: 4.5rem;
}

.layer {
    min-width: 500px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: repeat-x;
}

.layer10 {
    background-image: url('../images/backgrounds/sky_01.png');
    /*animation: scroll 20s infinite linear;*/
}

.layer9 {
    background-image: url('../images/backgrounds/building_01.png');
    animation: scroll 20s infinite linear;
    position: absolute;
    top: 10.7rem;
    height: 389px;
}

.layer8 {
    background-image: url('../images/backgrounds/pavement_01.png');
    animation: scroll 15s infinite linear;
    position: absolute;
    top: 32.5rem;
    height: 35px;
}

.layer7 {
    background-image: url('../images/backgrounds/ruins_01.png');
    animation: scroll 10s infinite linear;
    position: absolute;
    top: 29rem;
    height: 95px;
}

.layer6 {
    background-image: url('../images/backgrounds/building_02.png');
    animation: scroll 5s infinite linear;
    position: absolute;
    top: 16rem;
    height: 308px;
}

.layer5 {
    background-image: url('../images/backgrounds/carhumo.png');
    animation: scroll 5s infinite linear;
    position: absolute;
    top: 12rem;
    opacity: 0.7;
    height: 400px;
}

.layer3 {
    background-image: url('../images/backgrounds/fire_01\ \(1\).png');
    animation: scroll 5s infinite linear;
    top: 16rem;
    height: 314px;
}

.layer1 {
    background-image: url('../images/backgrounds/road_01.png');
    animation: scroll 3s infinite linear;
    position: absolute;
    top: 34rem;
    height: 57px;
}


/*.characterCont {
    width: 100%;
}*/

.character_init {
    width: 72px;
    height: 100px;
    margin-left: 200px;
    position: absolute;
    top: 30rem;
}

.alienFloor {
    position: absolute;
    top: 33rem;
    animation: aproach 2s infinite linear;
}

.alien_walk {
    background: url('../images/characters/Storm_sprites_07-removebg-preview.png');
    animation: alienwalking 1s steps(3) infinite;
    width: 71.33px;
    height: 62px;
}

.alienSky {
    position: relative;
    top: 24rem;
    animation: aproach 2s infinite linear;
    animation-delay: 5s;
}

.alien_fly {
    background: url('../images/characters/Storm_sprites_10-removebg-preview.png');
    animation: alienflying 1s steps(2) infinite;
    width: 110px;
    height: 114px;
}

.caminando_cody {
    background: url('../images/characters/walk-cody-2.png')left center;
    animation: walk 1s steps(12) infinite;
}

.caminando_haagar {
    background: url('../images/characters/walk-hagar.png')left center;
    animation: walkHaagar 1s steps(12) infinite;
    width: 92px;
}

.saltando_cody {
    background: url('../images/characters/jump-cody.png')left center;
    animation: jump 0.8s steps(8) infinite;
    width: 88px;
    height: 126px;
}

.saltando_haagar {
    background: url('../images/characters/jump-haagar.png')left center;
    animation: jumpHaagar 0.8s steps(5) infinite;
    width: 80px;
    height: 126px;
}

.deslizando_cody {
    background: url('../images/characters/cody-slide.png')left center;
    animation: down 0.7s steps(6) infinite;
    width: 95px;
    height: 80px;
    top: 33rem;
}

.deslizando_haagar {
    background: url('../images/characters/slide_haagar.png')left center;
    animation: downHaagar 0.7s steps(5) infinite;
    width: 92px;
    height: 80px;
    top: 32rem;
}

@keyframes walk {
    0% {
        background-position: 0px;
    }
    100% {
        background-position: -896px;
    }
}

@keyframes walkHaagar {
    0% {
        background-position: 0px;
    }
    100% {
        background-position: -1229px;
    }
}

@keyframes down {
    0% {
        background-position: 0px;
    }
    100% {
        background-position: -617px;
    }
}

@keyframes downHaagar {
    0% {
        background-position: 0px;
    }
    100% {
        background-position: -479px;
    }
}

@keyframes jump {
    0% {
        background-position: 0px;
    }
    100% {
        background-position: -761px;
    }
    0% {
        top: 26rem;
    }
    50% {
        top: 22rem;
    }
    100% {
        top: 26rem;
    }
}

@keyframes jumpHaagar {
    0% {
        background-position: 0px;
    }
    100% {
        background-position: -421px;
    }
    0% {
        top: 26rem;
    }
    50% {
        top: 23rem;
    }
    100% {
        top: 26rem;
    }
}

@keyframes alienwalking {
    0% {
        background-position: 0px;
    }
    100% {
        background-position: -424px;
    }
}

@keyframes aproach {
    0% {
        left: 1000px;
        visibility: hidden;
    }
    8% {
        left: 900px;
        visibility: hidden;
    }
    16% {
        left: 800px;
        visibility: hidden;
    }
    20% {
        left: 750px;
        visibility: hidden;
    }
    24% {
        left: 700px;
        visibility: visible;
    }
    32% {
        left: 600px;
    }
    40% {
        left: 500px;
    }
    48% {
        left: 400px;
    }
    56% {
        left: 300px;
    }
    64% {
        left: 200px;
    }
    72% {
        left: 100px;
    }
    80% {
        left: 0px;
    }
    82% {
        left: -25px;
        visibility: hidden;
    }
    88% {
        left: -100px;
        visibility: hidden;
    }
    100% {
        left: -200px;
        visibility: hidden;
    }
}

@keyframes alienflying {
    0% {
        background-position: 0px;
    }
    100% {
        background-position: -229px;
    }
}

.jump {
    width: 112px;
    height: 156px;
    background: url('../images/characters/tiraprueba-removebg-preview.png')left center;
    margin-left: 200px;
    transform: translateY(-150px);
}